/* index.html에 연결 */
*{margin: 0; padding: 0;}
#wrap{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;   /* 브라우저 크기의 80% */
    height: 60px;
    padding: 10px;
    background: rgb(0, 76, 0);
}
header nav{
    width: 70%;  /* 브라우저 크기의 60% */
    float: right;
    text-align: center;
}
nav ul li{
    /* float: right;  */
    display: inline-block;
    line-height: 60px;
    list-style: none;
}
/* 링크되거나 방문한 속성을 바꿈 */
ul li a:link, a:visited{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: yellowgreen;
}

main{
    height: 600px;
    padding: 5px;
    border: 5px solid #ccc;
}
main h2{margin: 10px 20px;}
section{
    float: left;
    width: 31%;     /* main 크기의 31% */
    height: 520px;
    border: 1px dotted #ccc;
    padding: 5px;
}

section h3{
    background: url(../images/dot.png) no-repeat;
    background-position: 5px 20px;  /* left(x) top(y) */
    padding: 16px 24px;
}
section dl dt{font-weight: bold;}
section dl dd{margin-bottom: 10px;}
aside{
    clear: both;
    padding: 50px 20px;
    background: greenyellow;
}
aside img{
    float: left;
    margin: 0 100px 10px 20px;
    border-radius: 10px;
}
aside h3{padding-left: 30px;}
aside ul li{
    margin: 10px 60px;
}footer{
    padding: 20px 10px;
    background: #555;
}
footer p{
    color: white;
    text-align: center;
}